@using ForumErtkrn.RazorHelpers
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="ertkrn, ertkrn forum, kazanclimani, kazanç, limani, limanı, kazanc, türkiye, milli, en, büyük, satış, sitesi, ihtiyaç, aradığın, hepsi, herşey, burada, ikinci, el, aldım, sattım, çek, yükle, mesaj, at, kazanç limanı, Online Alışveriş Sitesi, post, sözlük">
    <meta name="description" content="ertkrn forum - Mevzu var dediler geldik!">
    <meta name="google-site-verification" content="qmZgjeieVSjIIOdNWXEF6ujHPbvaY7jDe9SWoAD82xU" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-brand col-md-2 col-xs-12">
            @*@Html.EncodedLink("forum.ertkrn.com", "Index", "Home", null, new { role = "button" })*@
            <a href="/" role="button">forum.ertkrn.com</a>
        </div>
        <div class="search-container col-md-5 col-xs-12">
            <input type="text" placeholder="Arama yap..." name="search">
            <button type="submit">GO</button>
        </div>
        <div class="navbar-right col-md-4 col-xs-12">
            @Html.EncodedLink("Giriş Yap", "Login", "User", null, new { role = "button" })
            @Html.EncodedLink("Kayıt Ol", "Register", "User", null, new { role = "button" })
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom hidden-lg hidden-md" id="footer">
        <div class="col-xs-3 text-center"><a href="#anasayfa" id="Anasayfa"><i class="glyphicon glyphicon-home"></i><br /><strong id="menuid">Anasayfa</strong></a></div>
        <div class="col-xs-2 text-center"><a href="#trendler" id="Trendler"><i class="glyphicon glyphicon-menu-hamburger"></i></a></div>
        <div class="col-xs-2 text-center"><a href="#postekle" id="Postekle"><i class="glyphicon glyphicon-plus"></i></a></div>
        <div class="col-xs-2 text-center"><a href="#search" id="Search"><i class="glyphicon glyphicon-search"></i></a></div>
        <div class="col-xs-2 text-center"><a href="#profil" id="Profil"><i class="glyphicon glyphicon-user"></i></a></div>
    </div>
    <a href="#top" class="glyphicon glyphicon-arrow-up scrolltop" id="scrlltp"></a>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/menu-degistir.js"></script>
</body>
</html>
