
@{
    ViewBag.Title = "ertkrn forum";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@*<h1>Çok Yakında...</h1>*@
<div class="col-md-offset-1 col-md-5 col-xs-12">
    <div class="post">
        <div class="post-no">1</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 16</b><br />edas</div>
            <div class="fikibok"><b>- 20</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>eldeki çizgiler</strong>
                    <p>Babam, bir gün bana: Oğul sağ elini aç bakayım. Arapça rakamlarla kaç yazıyor, oku ! Açtım baktım Arap rakamlarıyla 18 yazıyordu. Sol avucunu aç; onda</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">2</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 100</b><br />edas</div>
            <div class="fikibok"><b>- 50</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>asgari ücret karşılaştırma</strong>
                    <p>Asgari ücretler Norveç 7100 $ 33.370 ₺ İsveç 3000 € 16.500 ₺ İsviçre 3477 $ 16.340 ₺ Lüksemburg 1999 € 11.000 ₺ Fransa 1480 € 8150 ₺ İngiltere</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">3</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 100</b><br />edas</div>
            <div class="fikibok"><b>- 50</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>evleneceğiniz kişide aradığınız en önemli özellik</strong>
                    <p>Her konuda anlayışlı olmasını beklerim.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">4</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 100</b><br />edas</div>
            <div class="fikibok"><b>- 50</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>güzel bir tatil yapıyorum bu da kanıtı</strong>
                    <p>Şimdi havuza giricem evet soruları alayım? Öçöçöçöö Edit:Harun abi diyenin annesini severim :) :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">5</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 61</b><br />edas</div>
            <div class="fikibok"><b>- 10</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>güzel bir tatil yapıyorum bu da kanıtı</strong>
                    <p>Şimdi havuza giricem evet soruları alayım? Öçöçöçöö Edit:Harun abi diyenin annesini severim :) :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">6</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 61</b><br />edas</div>
            <div class="fikibok"><b>- 10</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>güzel bir tatil yapıyorum bu da kanıtı</strong>
                    <p>Şimdi havuza giricem evet soruları alayım? Öçöçöçöö Edit:Harun abi diyenin annesini severim :) :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">7</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 61</b><br />edas</div>
            <div class="fikibok"><b>- 10</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>güzel bir tatil yapıyorum bu da kanıtı</strong>
                    <p>Şimdi havuza giricem evet soruları alayım? Öçöçöçöö Edit:Harun abi diyenin annesini severim :) :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-no">8</div>
        <div class="begeni">
            <div class="cukubik"><b>+ 61</b><br />edas</div>
            <div class="fikibok"><b>- 10</b><br />uyas</div>
        </div>
        <div class="post-govde">
            <div class="post-header">
                <a href="#" role="button"><i class="glyphicon glyphicon-user"></i> Kullanıcı</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-time"></i> 22 saat 1dk.</a>
                <a href="#" role="button"><i class="glyphicon glyphicon-question-sign"></i> Soru Cevap</a>
            </div>
            <div class="post-fotometin">
                <div class="post-foto">
                    <img src="~/Content/Images/fotoyok.jpg" />
                </div>
                <div class="post-metin">
                    <strong>güzel bir tatil yapıyorum bu da kanıtı</strong>
                    <p>Şimdi havuza giricem evet soruları alayım? Öçöçöçöö Edit:Harun abi diyenin annesini severim :) :)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 hidden-xs hidden-md">
    <iframe src="http://kazanclimani.com/"></iframe>
    <iframe src="http://fatihmandirali.com/"></iframe>
</div>
<div class="col-md-3 hidden-md hidden-xs">
    <a href="https://play.google.com/store/apps/details?id=com.egsoft.sestenyaziya"><img src="~/Content/Images/ertkrn-rseskslsasm/rseskslsasm.jpg" style="width:350px;height:615px; border:10px;" id="rsklm" /></a>
</div>
<script src="~/Scripts/menu-gizle.js"></script>
<script src="~/Scripts/reklam-degis.js"></script>